
@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    @foreach (var product in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@product.ImagePath" class="card-img-top" alt="######">
            <div class="card-body" href="/Product/index/@product.Id">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <a href="/cart/add?id=@product.Id" class="btn btn-primary">@product.Сost</a>
                <a href="/compare/add?id=@product.Id" class="btn btn-primary">Add to comparison</a>
            </div>
        </div>
    }
</div>

